{% extends "base.html" %}

{% block content %}
<h2>Editar Perfil</h2>

{% if user.perfil.avatar %}
    <img src="{{ user.perfil.avatar.url }}" width="150" height="150" alt="Avatar actual">
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Información de Usuario</legend>
        {{ user_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>Avatar y Biografía</legend>
        {{ perfil_form.as_p }}
    </fieldset>

    <button type="submit">Guardar cambios</button>
</form>

<a href="{% url 'perfil' %}" class="btn btn-primary">Volver a mi perfil</a>

{% endblock %}