{% extends 'base.html' %}

{% block content %}
<h1>Lista de Posts</h1>
<p>Bienvenid@ a mi blog. Mi nombre es Delfina, soy ingeniera química de Santa Fe, Argentina. ¡Gracias por leer!</p> 

{% if user.is_authenticated %}
    <a href="{% url 'perfil' %}" class="btn btn-primary">Ver Perfil</a>
    <a href="{% url 'editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
{% endif %}

<!-- Mostrar posts -->
{% if posts %}
    {% for post in posts %}
        <div class="post">
            <h2>{{ post.titulo }}</h2>
            <p><strong>Autor:</strong> {{ post.autor }}</p>

            {% if post.imagen %}
                <img src="{{ post.imagen.url }}" alt="Imagen de {{ post.titulo }}" style="max-width: 300px; display: block; margin-bottom: 10px;">
            {% endif %}

            <p>{{ post.contenido|truncatewords:20 }}</p>

            <a href="{% url 'detalle_post' post.pk %}" class="btn btn-info">Ver más</a>
        </div>
        <hr>
    {% endfor %}
{% else %}
    <p>No hay posts disponibles.</p>
{% endif %}

<!-- Botón para crear un nuevo post -->
<a href="{% url 'crear_post' %}" class="btn btn-success">Crear un nuevo post</a>

{% endblock %}
